# Shelter Animal Outcomes
## Help improve outcomes for shelter animals

Every year, over 7.6 million animals were found in shelter (dogs and cats), despite a majority of the population find their forever homes, still many are not as lucky, and over 2.7 million animals are enthanized every year in the US. We are asking to predict the outcome for each animals from Austin Animal Center based on breed, color, sex and age informations.

-----

## Datasets
[Data link on Kaggle](https://www.kaggle.com/c/shelter-animal-outcomes)
 - train.csv 
     - data entries: 26729
     - data features: 10
 - test.csv
     - data entries: 11456
     - data features: 8

In [1]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn import metrics

#tensorflow keras imports
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from tensorflow.keras.utils import to_categorical

#import the scikit-learn classifiers
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier
from sklearn.svm import SVC

## load data

In [2]:
data=pd.read_csv('datasets/train.csv', header=0)
data.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

In [3]:
#check for data type and missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26729 entries, 0 to 26728
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AnimalID        26729 non-null  object
 1   Name            19038 non-null  object
 2   DateTime        26729 non-null  object
 3   OutcomeType     26729 non-null  object
 4   OutcomeSubtype  13117 non-null  object
 5   AnimalType      26729 non-null  object
 6   SexuponOutcome  26728 non-null  object
 7   AgeuponOutcome  26711 non-null  object
 8   Breed           26729 non-null  object
 9   Color           26729 non-null  object
dtypes: object(10)
memory usage: 2.0+ MB

In [6]:
#to check the outcometype levels and their corresponding outcomesubtypes
data.groupby('OutcomeType').OutcomeSubtype.unique().reset_index()

       OutcomeType                                     OutcomeSubtype
0         Adoption                       [Foster, nan, Offsite, Barn]
1             Died  [In Kennel, In Foster, nan, Enroute, At Vet, I...
2       Euthanasia  [Suffering, Aggressive, Behavior, Rabies Risk,...
3  Return_to_owner                                              [nan]
4         Transfer                         [Partner, SCRP, Barn, nan]

In [7]:
#
data.nunique()

AnimalID          26729
Name               6374
DateTime          22918
OutcomeType           5
OutcomeSubtype       16
AnimalType            2
SexuponOutcome        5
AgeuponOutcome       44
Breed              1380
Color               366
dtype: int64